<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style type="text/css">
  .button {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
  }
  .mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
  }
  .mail-box .sm-side {
      background: none repeat scroll 0 0 #e5e8ef;
      border-radius: 4px 0 0 4px;
      width: 25%;
  }
  .mail-box .lg-side {
      background: none repeat scroll 0 0 #fff;
      border-radius: 0 4px 4px 0;
      width: 75%;
  }
  .mail-box .sm-side .user-head {
      background: none repeat scroll 0 0 #00a8b3;
      border-radius: 4px 0 0;
      color: #fff;
      min-height: 80px;
      padding: 10px;
  }
  .user-head .inbox-avatar {
      float: left;
      width: 65px;
  }
  .user-head .inbox-avatar img {
      border-radius: 4px;
  }
  .user-head .user-name {
      display: inline-block;
      margin: 0 0 0 10px;
  }
  .user-head .user-name h5 {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 15px;
  }
  .user-head .user-name h5 a {
      color: #fff;
  }
  .user-head .user-name span a {
      color: #87e2e7;
      font-size: 12px;
  }
  a.mail-dropdown {
      background: none repeat scroll 0 0 #80d3d9;
      border-radius: 2px;
      color: #01a7b3;
      font-size: 10px;
      margin-top: 20px;
      padding: 3px 5px;
  }
  .inbox-body {
      padding: 20px;
  }
  .btn-compose {
      background: none repeat scroll 0 0 #ff6c60;
      color: #fff;
      padding: 12px 0;
      text-align: center;
      width: 100%;
  }
  .btn-compose:hover {
      background: none repeat scroll 0 0 #f5675c;
      color: #fff;
  }
  ul.inbox-nav {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .inbox-divider {
      border-bottom: 1px solid #d5d8df;
  }
  ul.inbox-nav li {
      display: inline-block;
      line-height: 45px;
      width: 100%;
  }
  ul.inbox-nav li a {
      color: #6a6a6a;
      display: inline-block;
      line-height: 45px;
      padding: 0 20px;
      width: 100%;
  }
  ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.inbox-nav li a i {
      color: #6a6a6a;
      font-size: 16px;
      padding-right: 10px;
  }
  ul.inbox-nav li a span.label {
      margin-top: 13px;
  }
  ul.labels-info li h4 {
      color: #5c5c5e;
      font-size: 13px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      text-transform: uppercase;
  }
  ul.labels-info li {
      margin: 0;
  }
  ul.labels-info li a {
      border-radius: 0;
      color: #6a6a6a;
  }
  ul.labels-info li a:hover, ul.labels-info li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.labels-info li a i {
      padding-right: 10px;
  }
  .nav.nav-pills.nav-stacked.labels-info p {
      color: #9d9f9e;
      font-size: 11px;
      margin-bottom: 0;
      padding: 0 22px;
  }
  .inbox-head {
      background: none repeat scroll 0 0 #0a05ff;
      border-radius: 0 4px 0 0;
      color: #fff;
      min-height: 80px;
      padding: 20px;
  }
  .inbox-head h3 {
      display: inline-block;
      font-weight: 300;
      margin: 0;
      padding-top: 6px;
  }
  .inbox-head .sr-input {
      border: medium none;
      border-radius: 4px 0 0 4px;
      box-shadow: none;
      color: #8a8a8a;
      float: left;
      height: 40px;
      padding: 0 10px;
  }
  .inbox-head .sr-btn {
      background: none repeat scroll 0 0 #00a6b2;
      border: medium none;
      border-radius: 0 4px 4px 0;
      color: #fff;
      height: 40px;
      padding: 0 20px;
  }
  .table-inbox {
      border: 1px solid #d3d3d3;
      margin-bottom: 0;
  }
  .table-inbox tr td {
      padding: 12px !important;
  }
  .table-inbox tr td:hover {
      cursor: pointer;
  }
  .table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
      color: #f78a09;
  }
  .table-inbox tr td .fa-star {
      color: #d5d5d5;
  }
  .table-inbox tr.unread td {
      background: none repeat scroll 0 0 #f7f7f7;
      font-weight: 600;
  }
  ul.inbox-pagination {
      float: right;
  }
  ul.inbox-pagination li {
      float: left;
  }
  .mail-option {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
  }
  .mail-option .chk-all, .mail-option .btn-group {
      margin-right: 5px;
  }
  .mail-option .chk-all, .mail-option .btn-group a.btn {
      background: none repeat scroll 0 0 #fcfcfc;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      color: #afafaf;
      display: inline-block;
      padding: 5px 10px;
  }
  .inbox-pagination a.np-btn {
      background: none repeat scroll 0 0 #fcfcfc;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      color: #afafaf;
      display: inline-block;
      padding: 5px 15px;
  }
  .mail-option .chk-all input[type="checkbox"] {
      margin-top: 0;
  }
  .mail-option .btn-group a.all {
      border: medium none;
      padding: 0;
  }
  .inbox-pagination a.np-btn {
      margin-left: 5px;
  }
  .inbox-pagination li span {
      display: inline-block;
      margin-right: 5px;
      margin-top: 7px;
  }
  .fileinput-button {
      background: none repeat scroll 0 0 #eeeeee;
      border: 1px solid #e6e6e6;
  }
  .inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
      border: 1px solid #e6e6e6;
      box-shadow: none;
  }
  .btn-send, .btn-send:hover {
      background: none repeat scroll 0 0 #00a8b3;
      color: #fff;
  }
  .btn-send:hover {
      background: none repeat scroll 0 0 #009da7;
  }
  .modal-header h4.modal-title {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 300;
  }
  .modal-body label {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 400;
  }
  .heading-inbox h4 {
      border-bottom: 1px solid #ddd;
      color: #444;
      font-size: 18px;
      margin-top: 20px;
      padding-bottom: 10px;
  }
  .sender-info {
      margin-bottom: 20px;
  }
  .sender-info img {
      height: 30px;
      width: 30px;
  }
  .sender-dropdown {
      background: none repeat scroll 0 0 #eaeaea;
      color: #777;
      font-size: 10px;
      padding: 0 3px;
  }
  .view-mail a {
      color: #ff6c60;
  }
  .attachment-mail {
      margin-top: 30px;
  }
  .attachment-mail ul {
      display: inline-block;
      margin-bottom: 30px;
      width: 100%;
  }
  .attachment-mail ul li {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
      width: 150px;
  }
  .attachment-mail ul li img {
      width: 100%;
  }
  .attachment-mail ul li span {
      float: right;
  }
  .attachment-mail .file-name {
      float: left;
  }
  .attachment-mail .links {
      display: inline-block;
      width: 100%;
  }

  .fileinput-button {
      float: left;
      margin-right: 4px;
      overflow: hidden;
      position: relative;
  }
  .fileinput-button input {
      cursor: pointer;
      direction: ltr;
      font-size: 23px;
      margin: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-300px, 0px) scale(4);
  }
  .fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
      margin-bottom: 5px;
  }
  .files .progress {
      width: 200px;
  }
  .fileupload-processing .fileupload-loading {
      display: block;
  }
  * html .fileinput-button {
      line-height: 24px;
      margin: 1px -3px 0 0;
  }
  * + html .fileinput-button {
      margin: 1px 0 0;
      padding: 2px 15px;
  }
  @media (max-width: 767px) {
  .files .btn span {
      display: none;
  }
  .files .preview * {
      width: 40px;
  }
  .files .name * {
      display: inline-block;
      width: 80px;
      word-wrap: break-word;
  }
  .files .progress {
      width: 20px;
  }
  .files .delete {
      width: 60px;
  }
  }
  ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
  }
</style>
<div class="box">
  <div class="box-body">

  <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Read Mail
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Read Mail</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-3">
              <button type="button" class="button button2" data-toggle="modal" data-target="#broadcastpromo">Broadcast Promo</button>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Folders</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="dashboard/layanankonsumen"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right">12</span></a>
                    </li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#"><i class="fa fa-envelope-o"></i> Sent</a>
                    </li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#"><i class="fa fa-file-text-o"></i> Drafts</a>
                    </li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a>
                    </li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#"><i class="fa fa-trash-o"></i> Trash</a>
                    </li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /. box -->
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Labels</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#"><i class="fa fa-circle-o text-red"></i> Important</a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a>
                    </li>
                  </ul>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a>
                    </li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Read Mail</h3>

              <div class="box-tools pull-right">
                <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="mailbox-read-info">
                <h3>Message Subject Is Placed Here</h3>
                <h5>From: help@example.com
                  <span class="mailbox-read-time pull-right">15 Feb. 2016 11:03 PM</span></h5>
              </div>
              <!-- /.mailbox-read-info -->
              <div class="mailbox-controls with-border text-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Delete">
                    <i class="fa fa-trash-o"></i></button>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Reply">
                    <i class="fa fa-reply"></i></button>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" data-container="body" title="Forward">
                    <i class="fa fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm" data-toggle="tooltip" title="Print">
                  <i class="fa fa-print"></i></button>
              </div>
              <!-- /.mailbox-controls -->
              <div class="mailbox-read-message">
                <p>Hello Admin,</p>

                <p>Test Read Mail</p>

                <p>Test Read Mail</p>

                <p>Test Read Mail</p>

                <p>Test Read Mail</p>

                <p>Thanks,<br>Pierce</p>
              </div>
              <!-- /.mailbox-read-message -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <ul class="mailbox-attachments clearfix">
                <li>
                  <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>

                  <div class="mailbox-attachment-info">
                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                        <span class="mailbox-attachment-size">
                          1,245 KB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                  </div>
                </li>
                <li>
                  <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>

                  <div class="mailbox-attachment-info">
                    <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> App Description.docx</a>
                        <span class="mailbox-attachment-size">
                          1,245 KB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- /.box-footer -->
            <div class="box-footer">
              <div class="pull-right">
                <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                <button type="button" class="btn btn-default"><i class="fa fa-share"></i> Forward</button>
              </div>
              <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
              <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Print</button>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>