<style>
  .kepala{
     position: relative;
     top: 10px;
     left: 10px;
  }
</style>

<div class="box">
  <h3 class="box-header with-border">Pengiriman</h3>
  <!-- <a href="#modal-tambah"><button type="button" class="btn btn-success">Tambah</button> </a> -->
  <button type="button" class="btn btn-info btn-lg kepala " data-toggle="modal" data-target="#myModal">Tambah Status</button>


<!-- <div id="modal-tambah" class="modal fade "> -->
  
    
    <br>
    <br>
    <div class="box-body">
     
      <div class="table-wrapper">
      <table class="table table-hover table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
          <thead>
              <tr>
                  <th>Id Pesanan</th>
                  <th>Status</th>
                  <th>Waktu</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor = "let n of dataSource;">
                  <td>{{n.id_pesanan}}</td>
                  <td>{{n.status}}</td>
                  <td>{{n.waktu}}</td>
                  <td>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#editModal">EDIT</button>
                  <button class="btn btn-danger" style="margin-left: 10px;" data-toggle="modal" data-target="#hapusModal">HAPUS</button>
                </td>
              </tr>
          </tbody>
      </table>
      </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="btn btn-block btn-danger btn-lg">X</span></button>
              <h4 class="modal-title">Tambah Status</h4>
            </div>
      
            <div class="box box-info col-sm-12" >
      
                <!-- form start -->
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Id Pesanan</label>
      
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="" class="col-sm-3 control-label">Nama Status</label>
      
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                  
                  </div>
                  <!-- /.box-body -->
      
                </form>
                </div>
              
      
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
              <button type="button" class="btn btn-primary">Tambah</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
  

    <div class="modal fade" id="editModal" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="btn btn-block btn-danger btn-lg">×</span></button>
              <h4 class="modal-title">Edit Status</h4>
            </div>
            <div class="box box-info col-sm-12" >
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Id Pesanan</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Nama Status</label>
    
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="" placeholder="">
                    </div>
                <!-- form start -->
                    </div>
                  </div>
                  <!-- /.box-body -->
                </form>
                </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
              <button type="button" class="btn btn-primary">Ubah</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /modal-dialog -->
      </div>

      <div class="modal fade" id="hapusModal" role="dialog">
        <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title"></h4>
                      </div>
                      <div class="modal-body">
                        <b><p align="center">Yakin ingin menghapus data ini ?</p></b>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
                        <button type="button" class="btn btn-danger" (click)="deleteData(id_pesanan)">Hapus</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
          <!-- /.modal-dialog -->
        </div>
</div>
      
   

      



  




      
