<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-30">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Kategori <b>Menu</b></h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th class="sorting1_asc" tabindex="1" aria-controls="example2" rowspan="1" colspan="1" style="width: 150px;" style="width: 10px">Kode</th>
                  <th class="sorting1" tabindex="1" aria-controls="example2" rowspan="1" colspan="1" style="width: 200px;" >Nama Kategori</th>
                  <th class="sorting1" tabindex="1" aria-controls="example2" rowspan="1" colspan="1" style="width: 200px;" >Ketersediaan</th>

                  <th class="sorting1" tabindex="1" aria-controls="example2" rowspan="1" colspan="1" style="width: 250px;"  ><a href="#modal-tambah-kategori" role="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"> Tambah </a></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>01001A</td>
                  <td>Makanan</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar progress-bar-danger" style="width: 55%"></div>
                    </div>
                  </td>
                  <td align="margin-left">
                      <button class="btn btn-primary"(click)="edit(data)">EDIT</button>
                    <button class="btn btn-danger" style="margin-left: 15px;" (click)="deleteData(nomer)">HAPUS</button>
                
                  </td>
                  
                </tr>
                <tr>
                  <td>02002B</td>
                  <td>Minuman</td>
                  <td>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-warning" style="width: 70%"></div>
                    </div>
                  </td>
                  <td align="margin-left">
                      <button class="btn btn-primary"(click)="edit(data)">EDIT</button>
                    <button class="btn btn-danger" style="margin-left: 15px;" (click)="deleteData(nomer)">HAPUS</button>
                
                  </td> 
                </tr>
                <tr>
                  <td>01003C</td>
                  <td>Favorit</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar bg-primary" style="width: 30%"></div>
                    </div>
                  </td>
                  <td align="margin-left">
                      <button class="btn btn-primary"(click)="edit(data)">EDIT</button>
                    <button class="btn btn-danger" style="margin-left: 15px;" (click)="deleteData(nomer)">HAPUS</button>
                
                  </td>
                </tr>
                <tr>
                  <td>01004D</td>
                  <td>Breakfeast</td>
                  <td>
                    <div class="progress progress-xs progress-striped active">
                      <div class="progress-bar bg-success" style="width: 90%"></div>
                    </div>
                  </td>
                  <td align="margin-left">
                      <button class="btn btn-primary"(click)="edit(data)">EDIT</button>
                    <button class="btn btn-danger" style="margin-left: 15px;" (click)="deleteData(nomer)">HAPUS</button>
                
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
              </div>
            </div>
            <!-- /.card -->



<div id="modal-tambah-kategori" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="btn btn-block btn-danger btn-lg">×</span></button>
            <h4 class="modal-title">Tambah Kategori</h4>
          </div>
    
          <div class="box box-info col-sm-12" >
    
              <!-- form start -->
              <form class="form-horizontal">
                <div class="box-body">
                  <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Nama kategori</label>
    
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="" placeholder="">
                    </div>
                  </div>
    
                </div>
                <!-- /.box-body -->
    
              </form>
              </div>
            
    
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
            <button type="button" class="btn btn-primary">Tambah</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    
    <div id="modal-kategori" class="modal fade ">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="btn btn-block btn-danger btn-lg">×</span></button>
              <h4 class="modal-title">Ubah Kategori</h4>
            </div>
      
            <div class="box box-info">
      
                <!-- form start -->
                <form class="form-horizontal">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Nama Kategori</label>
      
                      <div class="col-sm-2">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                  
                  </div>
                  <!-- /.box-body -->
      
                </form>
                </div>
    
    
              
      
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
              <button type="button" class="btn btn-primary">Tambah</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>