<div class="box">
  <div class="box-header">
    <h3 class="box-title">Pesanan</h3>
    <div class="box-body">
      <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-6">
            <div class="dataTables_length" id="example1_length">
              <label>Show 
              <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select> entries</label>
            </div>
          </div>
          <div class="col-sm-2">
            <div id="example1_filter" class="dataTables_length">
              <label>Search:
                <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">No Order</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 400px;" aria-label="Browser: activate to sort column ascending">Nama</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-label="Platform(s): activate to sort column ascending">Meja</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-label="Platform(s): activate to sort column ascending">Makanan</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-label="Platform(s): activate to sort column ascending">Minuman</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 200px;" aria-label="Engine version: activate to sort column ascending">Total Harga</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-label="CSS grade: activate to sort column ascending"><a href="#modal-tambah" role="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"> Tambah </a></th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let item of (pesanans | async)">
                  <td class="sorting_1">{{item.kode_pesanan}}</td>
                  <td>{{item.username}}</td>
                  <td>{{item.meja}}</td>
                  <td>{{item.subtotal_makanan}}</td>
                  <td>{{item.subtotal_minuman}}</td>
                  <td>{{item.total_bayar}}</td>
                  <td>
                      <a class="green" href="#modal-detail" role="button" data-toggle="modal">
                          <i class="ace-icon fa fa-info-circle bigger-130"></i>
                      </a>&nbsp;
                      <a class="green" href="#modal-edit" role="button" data-toggle="modal">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                      </a>&nbsp;
                      <a class="red" href="#modal-hapus" role="button" data-toggle="modal">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                      </a>
                  </td>
                </tr>
               
              </tbody>
            </table>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
              </div>
              <div align="right" class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                  <ul class="pagination">
                    <li class="paginate_button previous disabled" id="example1_previous">
                      <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                    </li>
                    <li class="paginate_button active">
                      <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a>
                    </li>
                    <li class="paginate_button next" id="example1_next">
                      <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
    </div>
  </div>
</div>



<div id="modal-tambah" class="modal fade ">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Tambah Pesanan</h4>
      </div>

      <div class="box box-info">

          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Nama</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="" >
                </div>
              </div>
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Makanan</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="" >
                </div>

                <!-- <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                          Jumlah &nbsp;
                          <input type="text"> 
                        </label>
                      </div>
                </div> -->

              </div>
              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Jumlah</label>
  
                 <div class="col-sm-2">
                   <input type="number" class="form-control" placeholder="" >
                 </div>
                 <div class="col-xs-1">
                  <button class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-plus"></i>
                  </button>
                </div>
              </div>
             
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Minuman</label>
  
                 <div class="col-sm-10">
                   <input type="text" class="form-control" placeholder="" >
                 </div>

                 <!-- <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                          Jumlah &nbsp;
                          <input type="text"> 
                        </label>
                      </div>
                </div> -->
              </div>

              <div class="form-group">
                <label for="" class="col-sm-4 control-label">Jumlah</label>
  
                 <div class="col-sm-2">
                   <input type="number" class="form-control" placeholder="" >
                 </div>
                 <div class="col-xs-1">
                  <button class="btn btn-sm btn-primary">
                    <i class="ace-icon fa fa-plus"></i>
                  </button>
                </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Meja</label>
  
                 <div class="col-sm-10">
                   <input type="number" class="form-control" placeholder="" >
                 </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label"></label>
  
                 <div class="col-sm-10">
                    <textarea class="form-control" rows="3" placeholder="..." disabled></textarea>
                 </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label"></label>
  
                 <div class="col-sm-10">
                   
                 </div>
              </div>

              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Total harga</label>
  
                 <div class="col-sm-10">
                   <input type="number" class="form-control" placeholder="" disabled>
                 </div>
              </div>

            </div>
            <!-- /.box-body -->

          </form>
          </div>
        

      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary">Tambah</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="modal-edit" class="modal fade ">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Ubah Pesanan</h4>
        </div>
  
        <div class="box box-info">
  
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Nama</label>
  
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Makanan</label>
  
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="" placeholder="">
                  </div>
  
                  <!-- <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                          <label>
                            Jumlah &nbsp;
                            <input type="text"> 
                          </label>
                        </div>
                  </div> -->
  
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Jumlah</label>
    
                   <div class="col-sm-2">
                     <input type="number" class="form-control" id="" placeholder="">
                   </div>
                   <div class="col-xs-1">
                    <button class="btn btn-sm btn-primary">
                      <i class="ace-icon fa fa-plus"></i>
                    </button>
                  </div>
                </div>
               
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Minuman</label>
    
                   <div class="col-sm-10">
                     <input type="text" class="form-control" id="" placeholder="">
                   </div>
  
                   <!-- <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                          <label>
                            Jumlah &nbsp;
                            <input type="text"> 
                          </label>
                        </div>
                  </div> -->
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Jumlah</label>
    
                   <div class="col-sm-2">
                     <input type="number" class="form-control" id="" placeholder="">
                   </div>
                   <div class="col-xs-1">
                    <button class="btn btn-sm btn-primary">
                      <i class="ace-icon fa fa-plus"></i>
                    </button>
                  </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Meja</label>
    
                   <div class="col-sm-10">
                     <input type="number" class="form-control" id="" placeholder="">
                   </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"></label>
    
                   <div class="col-sm-10">
                      <textarea class="form-control" rows="3" placeholder="..." disabled></textarea>
                   </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"></label>
    
                   <div class="col-sm-10">
                     
                   </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Total harga</label>
    
                   <div class="col-sm-10">
                     <input type="number" class="form-control" id="" placeholder="" disabled>
                   </div>
                </div>
  
              </div>
              <!-- /.box-body -->
  
            </form>
            </div>

       
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-primary">Tambah</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

<div id="modal-hapus" class="modal fade ">
<div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <b><p align="center">Yakin ingin menghapus data ini ?</p></b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary">Hapus</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
  <!-- /.modal-dialog -->
</div>

<div id="modal-detail" class="modal fade ">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span></button>
          <h4 class="modal-title">Detail Pesanan</h4>
        </div>
  
        <div class="box box-info">
  
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group" *ngFor="let item of (pesanans | async)">
                  <label for="" class="col-sm-2 control-label">Nama</label>
  
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="" placeholder="{{item.username}}" disabled="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Makanan</label>
  
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="3" placeholder="..." disabled></textarea>
                  </div>
  
                  <!-- <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                          <label>
                            Jumlah &nbsp;
                            <input type="text"> 
                          </label>
                        </div>
                  </div> -->
  
                </div>
<!--                 <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Jumlah</label>
    
                   <div class="col-sm-2">
                     <input type="number" class="form-control" id="" placeholder="">
                   </div>
                   <div class="col-xs-1">
                    <button class="btn btn-sm btn-primary">
                      <i class="ace-icon fa fa-plus"></i>
                    </button>
                  </div>
                </div> -->
               
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Minuman</label>
    
                   <div class="col-sm-10">
                     <textarea class="form-control" rows="3" placeholder="..." disabled></textarea>
                   </div>
  
                   <!-- <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                          <label>
                            Jumlah &nbsp;
                            <input type="text"> 
                          </label>
                        </div>
                  </div> -->
                </div>
  
                <!-- <div class="form-group">
                  <label for="" class="col-sm-4 control-label">Jumlah</label>
    
                   <div class="col-sm-2">
                     <input type="number" class="form-control" id="" placeholder="">
                   </div>
                   <div class="col-xs-1">
                    <button class="btn btn-sm btn-primary">
                      <i class="ace-icon fa fa-plus"></i>
                    </button>
                  </div>
                </div> -->
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Meja</label>
    
                   <div class="col-sm-10">
                     <input type="number" class="form-control" id="" placeholder="{{item.meja}}" disabled="">
                   </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"></label>
    
                   <div class="col-sm-10">
                      <textarea class="form-control" rows="3" placeholder="..." disabled></textarea>
                   </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label"></label>
    
                   <div class="col-sm-10">
                     
                   </div>
                </div>
  
                <div class="form-group">
                  <label for="" class="col-sm-2 control-label">Total harga</label>
    
                   <div class="col-sm-10">
                     <input type="number" class="form-control" id="" placeholder="{{item.total_bayar}}" disabled>
                   </div>
                </div>
  
              </div>
              <!-- /.box-body -->
  
            </form>
            </div>

       
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-primary">Ok</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>