<div class="box">
  <div class="box-header">
    <h3 class="box-title">Tabel User</h3>
     <a style="width: 150px;" href="#modal-tambah" role="button" class="btn btn-block btn-success btn-sm" data-toggle="modal"> Tambah User</a>
    <div class="box-body">
      <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
        <div class="row">
          <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">No</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 400px;" aria-label="Browser: activate to sort column ascending">Nama Lengkap</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 150px;" aria-label="Platform(s): activate to sort column ascending">Email</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 200px;" aria-label="Engine version: activate to sort column ascending">Password</th>
                  <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 200px;" aria-label="Engine version: activate to sort column ascending">Aksi</th>
                </tr>
              </thead>
              <tbody>
                <tr role="row" class="odd" *ngFor="let user of (users | async)">
                  <td class="sorting_1">{{user.role_id}}</td>
                  <td>{{user.nama}}</td>
                  <td>{{user.email}}</td>
                  <td></td>
                  <td>
                      <a class="green" href="#modal-detail" role="button" data-toggle="modal">
                          <i class="fa fa-fw fa-child bigger-130"></i>
                      </a>&nbsp;
                      <a class="green" href="#modal-edit" role="button" data-toggle="modal">
                        <i class="ace-icon fa fa-pencil bigger-130"></i>
                      </a>&nbsp;
                      <a class="red" href="#modal-hapus" role="button" data-toggle="modal">
                        <i class="ace-icon fa fa-trash-o bigger-130"></i>
                      </a>
                  </td>
                </tr>
              </tbody>
            </table>
  </div>
</div>


<div id="modal-tambah" class="modal fade ">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Tambah User</h4>
      </div>

      <div class="box box-info">

          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-5 control-label">Nama Role</label>

                <div class="col-sm-7">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              

            </div>
            <!-- /.box-body -->

          </form>
          </div>
        

      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
        <button type="button" class="btn btn-primary">Tambah</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div id="modal-edit" class="modal fade ">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span></button>
          <h4 class="modal-title">Edit Akun</h4>
        </div>
  
        <div class="box box-info">

          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-5 control-label">Nama Role</label>

                <div class="col-sm-7">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              

            </div>
            <!-- /.box-body -->

          </form>
          </div>

       
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-primary">Tambah</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

<div id="modal-hapus" class="modal fade ">
<div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span></button>
                <h4 class="modal-title"></h4>
              </div>
              <div class="modal-body">
                <b><p align="center">Yakin ingin menghapus Akun ini?</p></b>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
                <button type="button" class="btn btn-primary">Hapus</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
  <!-- /.modal-dialog -->
</div>

<div id="modal-detail" class="modal fade ">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">X</span></button>
          <h4 class="modal-title">Hak Akses</h4>
        </div>
  
        <div class="box box-info">

          <!-- form start -->
          <form class="form-horizontal">
            <div class="box-body">
              <div class="form-group">
                <label for="" class="col-sm-5 control-label">Nama Role</label>

                <div class="col-sm-7">
                  <input type="text" class="form-control" id="" placeholder="">
                </div>
              </div>
              

            </div>
            <!-- /.box-body -->

          </form>
          </div>
       
  
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Batal</button>
          <button type="button" class="btn btn-primary">Ok</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>