<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Example page</h1>
      <h3>Start designing your landing page here.</h3>
      <br />
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i
          class="fa fa-play"></i>Watch video</a>
      <button type="button" class="btn btn-outline-neutral btn-round">Download</button>
    </div>
  </div>
</div>