<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style type="text/css">
  section {
    padding: 2% 0;
  }

  .alizarin {
      background: #e74c3c;
  }

  .amethyst {
      background: #9b59b6;
  }

  .emerald {
      background: #2ecc71;
  }

  .midnight-blue {
      background: #2c3e50;
  }

  .peter-river {
      background: #3498db;
  }

  .dl {
      background: #f0f0f0;
      padding: 20px 0;
      border-radius: 20px;
      position: relative;
      
  }

  .dl:before {
      content: " ";
      height: 20px;
      width: 20px;
      background: #ddd;
      border-radius: 20px;
      position: absolute;
      left: 50%;
      top: 20px;
      margin-left: -10px;
  }
      
  .dl .brand {
      text-transform: uppercase;
      letter-spacing: 3px;
      padding: 10px 15px;
      margin-top: 10px;
      text-align: center;
      min-height: 100px; 
  }

  .dl .discount {
      min-height: 50px;
      position: relative;
      font-size: 60px;
      line-height: 80px;
      text-align: center;
      font-weight: bold;

      padding: 20px 15px 0;
      color: #f1c40f;
  }

  .dl .discount:after {
      content: " ";
      
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      position: absolute;
      bottom: -20px;
      left: 20%;
  }

  .dl .discount.alizarin:after {
      border-top: 20px solid #e74c3c;
  }

  .dl .discount.peter-river:after {
      border-top: 20px solid #3498db;
  }

  .dl .discount.emerald:after {
      border-top: 20px solid #2ecc71;
  }

  .dl .discount.amethyst:after {
      border-top: 20px solid #9b59b6;
  }

  .dl .discount .type {
      font-size: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-top: -30px;
  }

  .dl .descr {
      color: #999;
      margin-top: 10px;
      padding: 20px 15px; 
      height: 150px;
  }
   
  .dl .ends {
      padding: 0 15px;
      color: #f1c40f;
      margin-bottom: 10px;
  }

  .dl .coupon {
      min-height: 50px;
      text-align: center;
      
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;
      padding: 20px 15px;
  }

  .dl .coupon a.open-code {
      color: #16a085;
  }

  .dl .coupon .code {
      letter-spacing: 1px;
      border-radius: 4px;
      margin-top: 10px;
      padding: 10px 15px;
      color: #f1c40f;
      background: #f0f0f0;
  }

  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
  }

  .button {
    background-color: #4682B4;
    border: none;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 12px;
  }
  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
  }
  .mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
  }
  .mail-box .sm-side {
      background: none repeat scroll 0 0 #e5e8ef;
      border-radius: 4px 0 0 4px;
      width: 25%;
  }
  .mail-box .lg-side {
      background: none repeat scroll 0 0 #fff;
      border-radius: 0 4px 4px 0;
      width: 75%;
  }
  .mail-box .sm-side .user-head {
      background: none repeat scroll 0 0 #00a8b3;
      border-radius: 4px 0 0;
      color: #fff;
      min-height: 80px;
      padding: 10px;
  }
  .user-head .inbox-avatar {
      float: left;
      width: 65px;
  }
  .user-head .inbox-avatar img {
      border-radius: 4px;
  }
  .user-head .user-name {
      display: inline-block;
      margin: 0 0 0 10px;
  }
  .user-head .user-name h5 {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 0;
      margin-top: 15px;
  }
  .user-head .user-name h5 a {
      color: #fff;
  }
  .user-head .user-name span a {
      color: #87e2e7;
      font-size: 12px;
  }
  a.mail-dropdown {
      background: none repeat scroll 0 0 #80d3d9;
      border-radius: 2px;
      color: #01a7b3;
      font-size: 10px;
      margin-top: 20px;
      padding: 3px 5px;
  }
  .inbox-body {
      padding: 20px;
  }
  .btn-compose {
      background: none repeat scroll 0 0 #ff6c60;
      color: #fff;
      padding: 12px 0;
      text-align: center;
      width: 100%;
  }
  .btn-compose:hover {
      background: none repeat scroll 0 0 #f5675c;
      color: #fff;
  }
  ul.inbox-nav {
      display: inline-block;
      margin: 0;
      padding: 0;
      width: 100%;
  }
  .inbox-divider {
      border-bottom: 1px solid #d5d8df;
  }
  ul.inbox-nav li {
      display: inline-block;
      line-height: 45px;
      width: 100%;
  }
  ul.inbox-nav li a {
      color: #6a6a6a;
      display: inline-block;
      line-height: 45px;
      padding: 0 20px;
      width: 100%;
  }
  ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.inbox-nav li a i {
      color: #6a6a6a;
      font-size: 16px;
      padding-right: 10px;
  }
  ul.inbox-nav li a span.label {
      margin-top: 13px;
  }
  ul.labels-info li h4 {
      color: #5c5c5e;
      font-size: 13px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;
      text-transform: uppercase;
  }
  ul.labels-info li {
      margin: 0;
  }
  ul.labels-info li a {
      border-radius: 0;
      color: #6a6a6a;
  }
  ul.labels-info li a:hover, ul.labels-info li a:focus {
      background: none repeat scroll 0 0 #d5d7de;
      color: #6a6a6a;
  }
  ul.labels-info li a i {
      padding-right: 10px;
  }
  .nav.nav-pills.nav-stacked.labels-info p {
      color: #9d9f9e;
      font-size: 11px;
      margin-bottom: 0;
      padding: 0 22px;
  }
  .inbox-head {
      background: none repeat scroll 0 0 #0a05ff;
      border-radius: 0 4px 0 0;
      color: #fff;
      min-height: 80px;
      padding: 20px;
  }
  .inbox-head h3 {
      display: inline-block;
      font-weight: 300;
      margin: 0;
      padding-top: 6px;
  }
  .inbox-head .sr-input {
      border: medium none;
      border-radius: 4px 0 0 4px;
      box-shadow: none;
      color: #8a8a8a;
      float: left;
      height: 40px;
      padding: 0 10px;
  }
  .inbox-head .sr-btn {
      background: none repeat scroll 0 0 #00a6b2;
      border: medium none;
      border-radius: 0 4px 4px 0;
      color: #fff;
      height: 40px;
      padding: 0 20px;
  }
  .table-inbox {
      border: 1px solid #d3d3d3;
      margin-bottom: 0;
  }
  .table-inbox tr td {
      padding: 12px !important;
  }
  .table-inbox tr td:hover {
      cursor: pointer;
  }
  .table-inbox tr td .fa-star.inbox-started, .table-inbox tr td .fa-star:hover {
      color: #f78a09;
  }
  .table-inbox tr td .fa-star {
      color: #d5d5d5;
  }
  .table-inbox tr.unread td {
      background: none repeat scroll 0 0 #f7f7f7;
      font-weight: 600;
  }
  ul.inbox-pagination {
      float: right;
  }
  ul.inbox-pagination li {
      float: left;
  }
  .mail-option {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;
  }
  .mail-option .chk-all, .mail-option .btn-group {
      margin-right: 5px;
  }
  .mail-option .chk-all, .mail-option .btn-group a.btn {
      background: none repeat scroll 0 0 #fcfcfc;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      color: #afafaf;
      display: inline-block;
      padding: 5px 10px;
  }
  .inbox-pagination a.np-btn {
      background: none repeat scroll 0 0 #fcfcfc;
      border: 1px solid #e7e7e7;
      border-radius: 3px !important;
      color: #afafaf;
      display: inline-block;
      padding: 5px 15px;
  }
  .mail-option .chk-all input[type="checkbox"] {
      margin-top: 0;
  }
  .mail-option .btn-group a.all {
      border: medium none;
      padding: 0;
  }
  .inbox-pagination a.np-btn {
      margin-left: 5px;
  }
  .inbox-pagination li span {
      display: inline-block;
      margin-right: 5px;
      margin-top: 7px;
  }
  .fileinput-button {
      background: none repeat scroll 0 0 #eeeeee;
      border: 1px solid #e6e6e6;
  }
  .inbox-body .modal .modal-body input, .inbox-body .modal .modal-body textarea {
      border: 1px solid #e6e6e6;
      box-shadow: none;
  }
  .btn-send, .btn-send:hover {
      background: none repeat scroll 0 0 #00a8b3;
      color: #fff;
  }
  .btn-send:hover {
      background: none repeat scroll 0 0 #009da7;
  }
  .modal-header h4.modal-title {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 300;
  }
  .modal-body label {
      font-family: 'Open Sans', sans-serif !important;
      font-weight: 400;
  }
  .heading-inbox h4 {
      border-bottom: 1px solid #ddd;
      color: #444;
      font-size: 18px;
      margin-top: 20px;
      padding-bottom: 10px;
  }
  .sender-info {
      margin-bottom: 20px;
  }
  .sender-info img {
      height: 30px;
      width: 30px;
  }
  .sender-dropdown {
      background: none repeat scroll 0 0 #eaeaea;
      color: #777;
      font-size: 10px;
      padding: 0 3px;
  }
  .view-mail a {
      color: #ff6c60;
  }
  .attachment-mail {
      margin-top: 30px;
  }
  .attachment-mail ul {
      display: inline-block;
      margin-bottom: 30px;
      width: 100%;
  }
  .attachment-mail ul li {
      float: left;
      margin-bottom: 10px;
      margin-right: 10px;
      width: 150px;
  }
  .attachment-mail ul li img {
      width: 100%;
  }
  .attachment-mail ul li span {
      float: right;
  }
  .attachment-mail .file-name {
      float: left;
  }
  .attachment-mail .links {
      display: inline-block;
      width: 100%;
  }

  .fileinput-button {
      float: left;
      margin-right: 4px;
      overflow: hidden;
      position: relative;
  }
  .fileinput-button input {
      cursor: pointer;
      direction: ltr;
      font-size: 23px;
      margin: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: translate(-300px, 0px) scale(4);
  }
  .fileupload-buttonbar .btn, .fileupload-buttonbar .toggle {
      margin-bottom: 5px;
  }
  .files .progress {
      width: 200px;
  }
  .fileupload-processing .fileupload-loading {
      display: block;
  }
  * html .fileinput-button {
      line-height: 24px;
      margin: 1px -3px 0 0;
  }
  * + html .fileinput-button {
      margin: 1px 0 0;
      padding: 2px 15px;
  }
  @media (max-width: 767px) {
  .files .btn span {
      display: none;
  }
  .files .preview * {
      width: 40px;
  }
  .files .name * {
      display: inline-block;
      width: 80px;
      word-wrap: break-word;
  }
  .files .progress {
      width: 20px;
  }
  .files .delete {
      width: 60px;
  }
  }
  ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
  }
  
</style>
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Promo Berlangsung</h3>
    <div class="box-tools pull-right">
      <!-- Buttons, labels, and many other things can be placed here! -->
      <!-- Here is a label for example -->
      <span class="label label-primary">Home / Promo</span>
    </div>
    <!-- /.box-tools -->
  </div>
  <div class="box-body">
  <button type="button" class="button button2" data-toggle="modal" data-target="#tambahpromo">Tambah Promo</button>
  <!-- <button type="button" class="button button2" (click)="getPromo()">Tambah Promo</button> -->
  <!-- /.box-header -->
    <section id="labels">
      <div class="row">
            <div class="col-sm-6 col-md-3 col-mb-3" *ngFor="let item of (promos | async)">
              <div class="dl">
                <div class="brand">
                    <h3>
                        {{item.nama_promo}}
                    </h3>
                </div>
                <div class="discount alizarin">
                    {{item.jumlah_potongan}}
                    <div class="type">
                        off
                    </div>
                </div>
                <div class="descr">
                    <strong>
                        {{item.s_dan_k}}
                    </strong><br> 
                     Dapat digunakan {{item.max_penggunaan}}x pemakaian dalam sehari/akun. 
                </div>
                <div class="ends">
                    <small>
                        * Syarat & Ketentuan Berlaku.
                    </small>
                </div>
                <div class="coupon midnight-blue">
                    <a data-toggle="collapse" href="#code-{{item.id_promo}}" class="open-code">Dapatkan Kode</a>
                    <div id="code-{{item.id_promo}}" class="collapse code">
                        {{item.kd_promo}}
                    </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-sm-6 col-md-3 col-mb-3">
              <div  class="dl">
                <div class="brand">
                    <h3>
                        SABTU CERIA
                    </h3>
                </div>
                <div class="discount emerald">
                    50%
                    <div class="type">
                        off
                    </div>
                </div>
                <div class="descr">
                    <strong>
                        Kode Promo hanya berlaku pada hari sabtu*,
                        <br>
                        Maksimal Potongan Rp.30.000 *.
                        <br> 
                    </strong> 
                     Dapat digunakan 1x pemakaian dalam sehari/akun. 
                </div>
                <div class="ends">
                    <small>
                        * Syarat & Ketentuan Berlaku.
                    </small>
                </div>
                <div class="coupon midnight-blue">
                    <a data-toggle="collapse" href="#code-2" class="open-code">Dapatkan Kode</a>
                    <div id="code-2" class="collapse code">
                        SABYOG
                    </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 col-mb-3">
              <div  class="dl">
                <div class="brand">
                    <h3>
                        RESTO WAE
                    </h3>
                </div>
                <div class="discount peter-river">
                15%
                    <div class="type">
                        off
                    </div>
                </div>
                <div class="descr">
                    <strong>
                        Kode Promo berlaku setiap hari*,
                        <br>
                        Maksimal Potongan Rp.15.000 *.
                        <br> 
                    </strong> 
                     Dapat digunakan 1x pemakaian dalam sehari/akun. 
                </div>
                <div class="ends">
                    <small>
                        * Syarat & Ketentuan Berlaku.
                    </small>
                </div>
                <div class="coupon midnight-blue">
                    <a data-toggle="collapse" href="#code-3" class="open-code">Dapatkan Kode</a>
                    <div id="code-3" class="collapse code">
                        RESTOWAEOKE
                    </div>
                </div>
              </div>
            </div> -->
          </div>
    </section>
    <!-- Modal -->
    <div id="tambahpromo" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Tambah Promo</h4>
          </div>
          <div class="modal-body">
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Nama</label>
                          <input type="text" placeholder="Nama Promo" [(ngModel)]="nama_promo" class="form-control">
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Kategori</label>
                          <input type="text" placeholder="Kategori Promo" [(ngModel)]="kategori" class="form-control">
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Kode Promo</label>
                          <input type="text" placeholder="Kode Promo" [(ngModel)]="kd_promo" class="form-control">
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Aktif Sampai :</label>
                          <input type="date" placeholder="Tanggal Akhir" [(ngModel)]="tgl_selesai" class="form-control">
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Max Penggunaan :</label>
                        <div class="form-group has-feedback">
                          <input type="text" placeholder="Maksimal Penggunaan" [(ngModel)]="max_penggunaan" class="form-control">
                        </div>
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Jumlah Potongan (%) :</label>
                          <input type="text" placeholder="Jumlah Potongan" [(ngModel)]="jumlah_potongan" class="form-control">
                      </div>
                      <div class="form-group has-feedback">
                          <label class="col-lg-2 control-label">Keterangan</label>
                          <textarea rows="5" type="text" cols="15" class="form-control" [(ngModel)]="keterangan"></textarea>
                      </div>
                      <div class="form-group has-feedback">
                        <label class="col-lg-2 control-label">Syarat & Ketentuan :</label>
                          <input type="text" placeholder="Syarat & Ketentuan" [(ngModel)]="s_dan_k" class="form-control">
                      </div><!-- 
                    <div class="form-group">
                      <div class="col-lg-offset-2 col-lg-10">
                        <span class="btn green fileinput-button">
                          <i class="fa fa-plus fa fa-white"></i>
                          <span>Gambar</span>
                          <input type="file" name="files[]" multiple>
                        </span>
                        <button class="btn btn-send" type="submit">Unggah</button>
                      </div>
                    </div> -->
                    <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="tambahpromo()">Tambah</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Batal</button>
                  </div>
                </div>
          </div>
      </div>
    </div>
  </div>
</div>