
<!------ Include the above in your HEAD tag ---------->

<div class="row shop-tracking-status">
    
    <div class="col-md-12">
        <div class="well">
    
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="inputOrderTrackingID" class="col-sm-2 control-label">Id Pesanan </label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputOrderTrackingID" value="" placeholder="Masukkan id pesanan">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" href="./rincian/rincian.component" routerLink="./rincian" class="btn btn-success">Cari</button>
                    </div>
                </div>
            </div>
            
            <div class="box-body">
     
                <div class="table-wrapper">
                <table class="table table-hover table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr>
                            <th>Id Pesanan</th>
                            <th>Status</th>
                            <th>Waktu</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor = "let n of dataSource;">
                            <td>{{n.id_pesanan}}</td>
                            <td>{{n.status}}</td>
                            <td>{{n.waktu}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
              </div>
            
        </div>
    </div>

</div>
<router-outlet></router-outlet>