
<!------ Include the above in your HEAD tag ---------->

<div class="row shop-tracking-status">
    
  <div class="col-md-12">
      <div class="well">
  
          <div class="form-horizontal">
              <div class="form-group">
                  <label for="inputOrderTrackingID" class="col-sm-2 control-label">Id Pesanan </label>
                      <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputOrderTrackingID" value="" placeholder="Masukkan Id Pesanan">
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" href="/rincian" routerLink="/rincian" class="btn btn-success">Cari</button>
                  </div>
              </div>
          </div>
  
          
      </div>
  </div>

</div>

<div class="p-4">
<h3>Detail Pesanan</h3>
<table class="table table-bordered track_tbl">
    <thead>
        <tr>
            <th>Id Pesanan</th>
            <th>Status</th>
            <th>Waktu</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active" *ngFor = "let n of dataSource;">
            <td>{{n.no_rincian}}</td>
            <td>{{n.status}}</td>
            <td>{{n.waktu}}</td>
        </tr>
    </tbody>
</table>
</div>

<router-outlet></router-outlet>